@import 'velleity';

//VARIABLES - LAYOUT
$profiles-per-line: 3;

//LAYOUT
html{
  body{
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    font-family: 'Open Sans', sans-serif;
  }
}
nav, main, article, section, footer{
  display: block;
  position: relative;
  clear: both;
  width: 100%;
}
section#banner{
  position: relative;
  padding: 0 !important;
  margin-top: -1em;
  margin-bottom: -1.5em;
  img{
    width: 100%;
  }
}
nav{
  z-index: 999;
  background-color: $primary;
  color: $light;
  position: fixed;
  top: 0;
  @include box(0 1em, 0, 0);
  a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
  }
  div{
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    margin: auto;
    >p{
      padding: 1em;
    }
    >ul{
      padding: 1em 0;
      >li{
        list-style-type: none;
        display: inline;
        position: relative;
        padding: 1em 0;
        a{
          padding: 1em;
        }
        &.active, &:hover{
          background-color: $dark;
          padding: 1.375em 0;
        }
        &.active:hover{
          padding: 1em 0;
        }
        &.caution{
          padding: 1em 0 !important;
          &:hover{
            background-color: #bb2b2b !important;
          }
        }
        &:hover{
          cursor: pointer;
        }
        >ul{
          >li{
            //DROP DOWN BOXES
          }
        }
      }
    }
  }
}
@media (max-width: $split-width){

}
@media (min-width: $split-width){

}
main{
  background-color: $background;
  color: $dark;
  min-height: calc(100vh - 8.375em);
  a, a:link, a:visited{
    color: inherit;
  }
  article, section{
    background-color: $background;
    @include box(1em, 0, 1em auto);
    margin-top: 1em;
    width: calc(100% - 2em);
    ol, ul{
      @include box(0.25em 0 0.25em 1.5em, 0, 0);
    }
    ul{
      li{
        list-style-type: square;
      }
    }
  }
}
@media (max-width: $split-width){
  main{
    margin: 3em auto 0 auto;
  }
}
@media (min-width: $split-width){
  main{
    margin: 4em auto 0 auto;
    max-width: 68.75em;
  }
}
aside{
  background-color: $dark;
  color: $light;
  position: fixed;
  top: 25%;
  left: 0em;
  @include box(0.5em 0.125em, 0, 0);
  text-align: center;
  p#label{
    padding: 0.5em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
  }
  &#contents{

  }
  &#toolbar{
    .buttons{
      display: flex;
      &:not(:last-child){
        border-bottom: 1px solid black;
      }
      .button{
        padding: 0.25em;
        &:hover{
          cursor: pointer;
          //background-color: $secondary;
        }
        img{
          height: 3em;
          width: 3em;
        }
      }
    }
    ul{
      &:not(:last-child){
        border-bottom: 1px solid white;
      }
      li{
        cursor: pointer;
        list-style-type: none;
        padding: 1em;
        &:hover{
          //background-color: $primary;
        }
        &:focus{
          //background-color: $secondary;
        }
      }
    }
  }
}
footer{
  color: $light;
  background-color: $dark;
  padding: 1em;
  text-align: center;
  a, a:link, a:visited{
    color: inherit;
  }
  div#social-media-links{
    display: flex;
    justify-content: space-around;
    max-width: $max-width;
    margin: auto;
  }
}
form{
  background-color: $light;
  color: $dark;
  margin-bottom: 1em;
  div, fieldset{
    padding:0;
    border:0;
    margin-bottom: 0.75em;
  }
}
button, input, select, textarea{
  outline: none;
  display: block;
  background-color: $dark;
  color: $light;
  padding: 1em;
  border: 1px solid $dark;
  text-align:left;
  &:hover{
    background-color: $secondary;
    border: 1px solid $secondary;
  }
}
input, select, textarea{
  &:focus{
    background-color: $light;
    color: $dark;
  }
}
input[type="checkbox"]{
  height: 3em !important;
  width: 3em !important;
  border: 1em solid black;
}
progress{
  display: block;
  height: 3em;
  width: 100%;
  border: 0 none;
  background: $dark !important;
}
progress::-moz-progress-bar, progress::-webkit-progress-bar {
  background: $dark;
  background-color: $dark;
}
progress::-webkit-progress-value{
  background: $secondary;
}
progress[value]::-webkit-progress-bar {
  background-color: $dark;
}






//CLASSES
.fields{
  .field{
    display: flex;
    &:not(:last-child){
      margin-bottom: 1em;
    }
    label, input[type="checkbox"]{
      white-space: nowrap;
      background-color: $light;
      color: $dark;
      width: auto;
      padding: 1em 1em 1em 0;
    }
    input{
      width: 100%;
    }
  }
}
.form-only{
  background-color: $dark;
  color: $light;
  padding: 0;
  form{
    display: flex;
    input:first-child{
      width: 100%;
      margin-right: 1px solid $background;
    }
    input:last-child{
      width: auto;
    }
  }
}
.info{
  background-color: $dark;
  color: $light;
  text-align: center;
  &:hover{
    background-color: $highlight;
  }
}
.pages{
  display: flex;
  .profile, .project{
    position: relative;
    text-align: center;
    img{
      width: 100%;
    }
    a, a:link, a:visited{
      background-color: $dark;
      color: $light;
      position: absolute;
      right: 1em;
      bottom: 1em;
      left: 1em;
      padding: 1em;
    }
  }
}
.profiles{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .profile{
    @media(max-width: 30em){
      width: 100%;
    }
    @media(min-width: 30em) and (max-width: 50em){
      width: calc(100% / 2);
    }
    @media(min-width: 50em) and (max-width: 60em){
      width: calc(100% / 3);
    }
    @media(min-width: 60em){
      width: calc(100% / 4);
    }
    padding: 0.5em;
    .profile-picture{
      position: relative;
      img{
        width: 100%;
      }
      a{
        background-color: $dark;
        color: $light;
        position: absolute;
        bottom: 1em;
        right: 1em;
        left: 1em;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        &:hover{
          background-color: $highlight;
        }
      }
    }
    p{
      background-color: $dark;
      color: $light !important;
      color: $light;
      padding: 1em;
      margin-top: -0.75em;
      text-align: center;
    }
  }
}
.subsections, article.split, section.split, .split-article, .split-section{
  background: none !important;
  padding-top: 1em !important;
  display: flex;
  div.split, div.subsection{
    background-color: $light;
    width: 100%;
    &:first-child{
      margin-right: 1em;
    }
  }
}













//IDENTIFIERS
#breadcrumbs, #catagories{
  ul{
    padding-left: 1em;
  }
}
#breadcrumbs{
  //display: none;
  background: none !important;
  color: $light;
  a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
  }
  padding: 0;
  >ul{
    display: flex;
    >li{
      background-color: $dark;
      list-style-type: none;
      @include box(1em 2em 1em 2em, 0, 0);
      clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0 100%, 1em 50%);
      &:first-child{
        @include box(1em 2em 1em 1em, 0, 0);
        clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0 100%) !important;
      }
      &:last-child{
        @include box(1em 1em 1em 2em, 0, 0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 1em 50%) !important;
      }
      &:first-child:last-child{
        @include box(1em 1em 1em 1em, 0, 0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
      }
    }
  }
}
#catagories{
  background: none !important;
  padding: 0;
  ol, ul{
    display: flex;
    flex-wrap: wrap;
    li{
      user-select: none;
      cursor: pointer;
      list-style-type: none;
      background-color: #222;
      color: #fff !important;
      width: auto;
      padding: 1em;
      //padding: 1em 1.5em 1em 1em;
      //clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 50%, calc(100% - 1em) 100%, 0 100%);
      margin: 0.25em 1em 0.25em 0;
      &:hover{
        background-color: $highlight;
      }
    }
  }
}
#editor{
  textarea{
    resize: none;
  }
}
#profile{
  display: flex;
  padding: 0;
  #username{
    font-weight: bold;
    text-align: center;
  }
  img{
    margin-right: 1em;
    height: 100%;
    max-height: 15em;
    width: 100%;
    max-width: 15em;
  }
  div{
    width: 100%;
  }
}
#progress{
  #progress-division{
    position: relative;
    progress{
      position: static;
    }
    p{
      display: block;
      color: $light;
      position: absolute;
      top: 0;
      padding: 1em;
      &:first-child{
        left: 0;
      }
      &:last-child{
        right: 0;
      }
    }
  }
}
#my-picture{
  padding: 0;
  text-align: center;
  div{
    div#profile-picture{
      img{
        //@include img(100%, 20em);
      }
      form{
        padding-right: 1em;
      }
    }
    div#past-pictures{
      display: flex;
      flex-wrap: wrap;
      div.picture{
        padding: 1em;
        width: auto;
        img{
          //@include img(100%, 10em);
        }
      }
    }
  }
}
#search{
  form{
    padding: 0;
  }
}




















input[type="checkbox"]{

}
span.checkbox{

}



:not(#editor){
  #about{

  }
}
#editor{
  #about{
    textarea{
      border: 1px solid $dark;
    }
  }
}
#container {
  border: solid 0px red;
  margin: 0px;
  min-width: 280px;
  min-height: 205px;
  float: left;
}
#box {
  width: 300px;
  height: 300px;
  border: solid 2px black;
  background-color: #fff;
  opacity: 0.6;
  margin: 0px;
  position: absolute; top: 10px; left: 10px;
}










div{
  input[type="checkbox"]{
    margin-right: 1em;
    opacity: 0.01;
    z-index: 2;
    width: 3em !important;
    &:hover{
      cursor: pointer !important;
      &+span{
        background-color: $highlight;
        border: 0 !important;
      }
    }
  }
  span{
    clip-path: polygon(0 0, 0.5em 0, 50% calc(50% - 0.5em), calc(100% - 0.5em) 0, 100% 0, 100% 0.5em, calc(50% + 0.5em) 50%, 100% calc(100% - 0.5em), 100% 100%, calc(100% - 0.5em) 100%, 50% calc(50% + 0.5em), 0.5em 100%, 0 100%, 0 calc(100% - 0.5em), calc(50% - 0.5em) 50%, 0 0.5em) !important;
    z-index: 1;
    position: absolute;
    background-color: $dark;
    width: 3em;
    height: 3em;
  }
  input[type="checkbox"]:checked + span{
    clip-path: polygon(0 0, 0 100%, 100% 100%) !important;
    background-color: $highlight;
  }
}
